data/spe10/eclipse/SPE10.EGRID filter=lfs diff=lfs merge=lfs -text
data/spe10/eclipse/SPE10.INIT filter=lfs diff=lfs merge=lfs -text
data/spe10/eclipse/EclipseDeck/SPE10_PERM.INC filter=lfs diff=lfs merge=lfs -text
data/spe10/eclipse/EclipseDeck/SPE10_PHI.INC filter=lfs diff=lfs merge=lfs -text
